.users {
  transform: translateY(-10px);
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  height: 74vh;
  overflow-y: auto;
  width: 300px;
}

.users::-webkit-scrollbar, body::-webkit-scrollbar,.messages::-webkit-scrollbar {
  display: none;
}

.input-content {
  width: 93%;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 8px;
}

.user-list {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 2px;
  border-radius: 10px;
  height: 11vh;
}
 
.user-list:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}

.button-content {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 5px;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

.button-content:hover {
  opacity: .7;
}

.messages-content {
  height: 76vh;
  border-radius: 10px;
  width: 100%;
}

.messages {
  overflow-y: scroll;
  height: 68.3vh;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

@media screen and (min-width: 601px) {
  .hide-collapse-button {
    display: none;
  }
}

@media screen and (max-width: 601px) {
  .users {
    width: 250px;
  }
  .messages-content {
    width: 300px;
    margin-left: -6%;
  }
}
